/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import "../scss/reset";
@import "../scss/base";
@import "../scss/mixins";
// set style
.container{
    position: relative;
    background-color: white;
    .block__header-section{
        .header-section__header-top{
            @include size(inherit, fit-content);
            @include flex__center-items(center, -content);
            @include fixed(0px, 0px, 0px, 0px, 99 );
            justify-content: space-between;
            border-bottom: 0.2px solid $light;
            .header-top__logo{
                @include size(20%, auto);
                @include margin(0px, 5px, 0px, 5px);
                @include flex__center-items(center, -content);
                i{
                    @include font(50px,500, $light);
                }
                .logo__name{
                    @include flex__center-items(center, -content);
                    div{
                        &:nth-child(2n+1){
                            @include font(50px,500, $dark);
                            @include text-transform(uppercase);
                        }
                        &:nth-child(2n+2){
                            @include text-transform(capitalize);
                        }
                    }
                }
            }
            .header-top__navbar{
                @include size(80%, auto);
                .navbar-list{
                    @include justify-content(center);
                    @include size(100%, auto);
                    display: flex;
                    .navbar-list__item{
                        @include flex__center-items(center, center);
                        @include margin(0px, 4px , 0px, 2px);
                        @include size(calc(100%/6), auto);
                        @include font-size(20px);
                        @include text-transform(capitalize);
                        cursor: pointer;
                        &:nth-child(6n+6){
                            display: block !important;
                            position: relative;
                            div{
                                &:nth-child(2n+1){
                                    @include flex__center-items(center, -content);
                                    @include size(100%, inherit);
                                    @include padding(10px, 10px, 10px, 10px);
                                    i{
                                        @include color($light);
                                    }
                                }
                            }
                            .sub-menu{
                                @include size(100%, 120px);
                                @include align-item(center);
                                @include padding(10px, 10px, 10px, 10px);
                                position: absolute;
                                display: none;
                                background-color: white;
                                top: 50px;
                                .sub-menu__item{
                                    @include size(100%, calc(100%/3));
                                    display: block;
                                    &:nth-child(3n+2){
                                        margin: 5px 0px;
                                    }
                                    &:hover{
                                        @include color($secondary);
                                    }
                                }
                            }
                            &:hover{
                                .sub-menu{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }   
        }
        .header-section__header-bg{
            @include size(100%, 550px);
            .header-bg__bg{
                @include size(100%, 100%);
                background:
                        url(../imgs/bg-dot.png),
                        url(../imgs/bg-dot.png),
                        url(../imgs/bg-round.png),
                        url(../imgs/bg-tree.png),
                        url(../imgs/bg-bottom-hero.png);
                background-position: 10px 10px,
                                    bottom 190px right 10px,
                                    left 55% top -1px,
                                    left 45% bottom -1px,
                                    center bottom -1px;
                ;
                background-repeat: no-repeat;
            }
        }
        .block-header__header-content{
            @include padding(0px, 0px, $padding-x*2, $padding-x*2);
            @include color(white);
            position: absolute;
            top: 100px;
            .coll-half{
                &:nth-child(2n+1){
                    @include padding(0px, 0px, $padding-x, $padding-x);
                }
                .content-heading{
                    @include font-size(50px);
                }
                .content-desc{
                    @include margin(10px, 10px, 0px, 0px);
                }
                .buttons-group{
                    .button{
                        @include size(120px, 40px);
                        @include color(white);
                        &:nth-child(2n+1){
                            @include color($dark);
                            background-color: white;
                        }
                        &:nth-child(2n+2){
                            @include margin(0px, 0px, 40px, 40px);
                        }
                    }
                }
            }
        }
    }
    .block__block-main-content{
        // about us
        .block-main-content__about-us{
            @include padding(0px, 0px, $padding-x*2, $padding-x*2);
            .coll--left{
                position: relative;
                .content-heading{
                    @include font(20px, 500, $primary);
                    @include size(100%, 50px);
                    position: relative;
                    span{
                        position: absolute;
                        left: 30px;
                    }
                    &:before{
                        @include size(15px, 15px);
                        @include pseudo(4px, 0px, $primary);
                        opacity: 0.5;
                    }
                    &::after{
                        @include size(15px, 15px);
                        @include pseudo(0px,5px, $secondary);
                        opacity: 0.3;
                    }
                    
                }
                .cxA1{
                    @include size(100%, 80%);
                    position: absolute;
                    top: 30px;
                    .about-us__reason{
                        @include margin(20px, 20px, 0px, 0px);
                    }
                    .rsCus{
                        @include font-size(20px);
                        .icon{
                            margin-right: 10px;
                        }
                    }
                    .buttons-group{
                        @include flex__center-items(center, -content);
                        @include margin(16px, 0px, 0px, 0px);
                        .button--social{
                            @include margin(0, 0, 20px, 0);
                            @include size(40px, 40px);
                            @include border(1px, solid, $primary, white, 50%);
                            @include flex__center-items(center, center);
                            &:hover{
                                background-color: $primary;
                                i{
                                    @include color($light);
                                }
                            }
                        }
                    }
                }
            }    
        }
        // send box
        .block-main-content__send-box{
            @include margin($margin-y, 0px, 0px, 0px);
            .newsletter{
                @include padding(0px, 0px, $padding-x*2, $padding-x*2);
                position: relative;
                .coll--left{
                    .txt-white{
                        &:nth-child(2n+1){
                            @include font-size(30px);
                        }
                    }
                    // input email
                    .send-box{
                        @include padding(0px, 0px, 0px, 0px);
                        @include border(1px, solid, $light, $light, 30px);
                        height: 48px;
                        input{
                            @include size(100%, inherit);
                            @include padding(10px, 10px, 10px, 10px);
                            @include border(1px, solid, $light, $light, 30px);
                            @include font(15px, normal, #888);
                            background: inherit;
                            border: 0px;
                        }
                        .button{
                            @include border(0, none, none, unset, 50%);
                            @include size(fit-content, fit-content);
                        }
                    }
                }
                .coll--right{
                    position: absolute;
                    top: 50%;
                    right: 0px;
                }
                .send-box__bg{
                    width: 100%;
                    height: inherit;
                    background: 
                                url("../imgs/bg-top.png"),
                                url("../imgs/bg-bottom.png");
                    background-position: 
                                        left top,
                                        right bottom;
                    background-repeat: no-repeat;                     
                }
            }
            
        }
        // service 
        .block-main-content__service{
            .service-list{
                .service-item{
                    .m-row{
                        .s-row{
                            @include size(100%, calc(100%/3));
                            text-align: center;
                            &:nth-child(3n+1){
                                @include size(100%, calc(100%/3));
                                @include flex__center-items(center, center);
                                background: url("../imgs/icon-shape-primary.png") 100% no-repeat;
                                background-position: 50% 0;
                                i{
                                    @include font(50px, 300, $light);
                                }
                            }
                            &:nth-child(3n+2){
                                @include margin(40px, 20px, 0px, 0px);
                                span{
                                    @include margin(20px,0px, 0px, 0px);
                                }
                            }
                            &:nth-child(3n+3){
                                position: relative;
                                .button{
                                    @include size(auto, fit-content);
                                    &::before{
                                        @include size(30px, 30px);
                                        @include pseudo(0,30%, gray);
                                        @include border(0px, none, none, gray, 50%);
                                        opacity: 0.5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // project
        .block-main-content__project{
            @include size(100%, auto);
            position: relative;
            z-index: 10;
            .project-filter{
                @include flex__center-items(center, space-between);
                @include size(50%, auto);
                @include font(1.1rem, 500, #888);
                transform: translateX(50%);
                div{
                    cursor: pointer;
                }
                div.active{
                    @include color($light);
                    @include padding(15px, 15px, 15px, 15px);
                    background-color: $primary;
                    position: relative;
                    border-radius: 10px;
                    &::before{
                        @include size(70%,100%);
                        @include pseudo(0, 68%, $primary);
                        transform: skew(-20deg);
                        z-index: -10;
                    }
                }
            }
            .grid-list{
                .grid-item{
                    .m-row{
                        box-shadow: none;
                        padding: 0px;
                        .s-row{
                            @include size(100%, 100%);
                            position: relative;
                            img{
                                @include size(100%, 100%);
                                object-fit: contain;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
        }
        // feedback
        .block-main-content__feedback{
            .grid-list{
                @include size(100%, 400px);
                .grid-item{
                    margin-top: 0px;
                    .m-row{
                        @include border(1px, solid, white, unset, 10px);
                        padding: 10px;
                        .quote{
                            @include font(70px, 600, white);
                            @include size(100%, fit-content);
                            margin-bottom: $margin-y/3;
                        }
                        .fbTxt{
                            @include font(20px, 300, white);
                            @include flex__center-items(center, center);
                            margin-bottom: $margin-y/3;
                        }
                        .s-row.block-flex{
                            @include size(100%, auto);
                                .avatar{
                                    @include size(70px, 70px);
                                    margin-right: 16px;
                                    img{
                                        @include size(inherit, inherit);
                                        object-fit: contain;
                                        border-radius: 50%;
                                    }
                                }
                                .client-info{
                                    &__name{
                                        @include font(30px, 400, white);
                                    }
                                    &__position{
                                        @include font(20px, 400, white);
                                    }
                                }
                        }
                    }
                }
                .grid-item.active{
                    .m-row{
                        background-color: $light;
                        .quote{
                            @include color($primary);
                        }
                        .fbTxt{
                            @include color(gray);
                        }
                        .client-info{
                            .client-info__name{
                                @include color($dark);
                            }
                            .client-info__position{
                                @include color(gray);
                            }
                        }
                    }
                }
            }
        }
        // team
        .block-main-content__our-team{
            .grid-list{
                height: 600px;
                .grid-item{
                    @include size(calc(100%/3), 100%);
                    position: relative;
                    cursor: pointer;
                    .m-row{
                        @include size(90%, 450px);
                        position: absolute;
                        top: 50px;
                        background-color: white;
                        z-index: 0;
                        .buttons-group{
                            @include size(fit-content, 95%);
                            .button--social{
                                @include size( 40px, 40px);
                                @include flex__center-items(center, center);
                                border-radius: 50%;
                                margin-bottom: 20px;
                            }
                        }
                        transition: all 1.4s ease;
                    }
                   img{
                        @include size(95%, auto);
                        position: absolute;
                        top: 0px;
                        left: 100px;
                        border-radius: 20px;
                    }
                    &:nth-child(3n+1){
                        z-index: 0;
                    }
                    &:nth-child(3n+2){
                        z-index: 70;
                    }
                    &:nth-child(3n+3){
                        z-index: 100;
                    }
                    &:hover{
                        .m-row{
                            background-color: $primary;
                            .buttons-group{
                                .button--social{
                                    background-color: $light;
                                }
                            }
                            .member-info{
                                color: $light;
                            }
                        }
                    }
                }
            }
        }
    }
    .block__block-footer{
        @include font(1em, 500, white);
        @include padding($padding-x*2, 0px, $padding-x/2, $padding-x/2);
        @include margin($margin-y,0,0,0,);
        .row-fluid{
            @include padding($padding-x*2, $padding-x*2, $padding-x*2, $padding-x*2);
            display: flex;
            &:nth-child(2n+1){
                .coll-25{
                    @include margin(0, 1.5em, 0, 0);
                    @include padding(0, 0, $padding-x/2, $padding-x/2);
                    .s-row{
                        @include flex__center-items(center, flex-start);
                        @include margin(0, 1em, 0, 0);
                        &--heading{
                            @include font-size(25px);
                        }
                        .buttons-group{
                            .button--social{
                                @include border(0.2px, solid, $light, unset, 50%);
                                @include size(40px, 40px);
                                @include flex__center-items(center, center);
                                @include margin(0, 0, 0, 5px);
                            }
                        }
                        .coll-10{
                            margin-right: $margin-y/3;
                        }
                        i{
                            @include color($light);
                        }
                    }
                    &:nth-child(4n+3){
                        .m-row{
                            @include flex__center-items(center, flex-start);
                            flex-wrap: wrap;
                            .s-row{
                                @include size(calc(100%/3 - 12px), 100%);
                                @include margin($padding-x/3, 0, 0, $padding-x/2);
                                position: relative;
                                img{
                                    @include size(100%, 100%);
                                }
                            }
                        }
                    }
                    &:nth-child(4n+4){
                        .s-row{
                            &:nth-child(3n+3){
                                @include size(100%, auto);
                                @include border(1px, solid, unset, $light, 20px);
                                position: relative;
                                background-color: $light;
                                input,
                                button{
                                    border: 0px;
                                    background-color: unset;
                                }
                                input{
                                    @include size(100%, 48px);
                                    @include padding(6px, 6px, 24px, 0px);
                                    @include color(gray);
                                }
                                button{
                                    @include margin(0, 0, 0, 24px);
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(2n+2){
                border-top: 0.1px solid $light;
                justify-content: space-between;
                .coll-half{
                    &:nth-child(2n+2){
                        a{
                            @include size(25%, 100%);
                            position: relative;
                            display: block;
                            color: $light;
                            text-align: center;

                            &:not(:nth-child(4n+4)){
                                border-right: 0.5px solid $light;
                            }
                        }
                    }
                }
            }
        }
    }
    .button__go-top{
        @include size(50px, 50px);
        @include flex__center-items(center, center);
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        transition: all 1.5s ease-in-out;
        a{
            @include border(0.5px, solid, white, $primary, 50%);
            @include size(100%, 100%);
            @include flex__center-items(center, center);
            i{
                @include font(30px, 500, $light);
            }
        }
    }
    &--related-page{
        .block__header-section{
            .block-header__header-content{
                @include padding($padding-x*2, $padding-x*2, 0, 0);
                text-align: center;
                .padding-lr{
                    @include margin($margin-y,0,0,0);
                    @include padding(0, 0, $padding-x, $padding-x);
                    h1{
                        @include font(2.5em, 700, $light);
                        @include margin(8px, 0,0,0);
                    }
                    hr{
                        @include size(10%,1px);
                        @include margin(0,16px,555px, 555px);
                        transform: translateX(-34%);

                        display: block
                    }
                    .bread-scrums{
                        @include flex__center-items(center, center);
                        &__item{
                            a{
                                @include font(1.2em, 300, $light);
                                @include padding(0, 0, $padding-x/3, $padding-x/3);
                            }
                            &:nth-child(2n+2){
                                display: flex;
                                position: relative;
                                &::before{
                                    @include font(1.2em, 300, #8888);
                                    @include absolute(0px,0px);
                                    content: "/";
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1280px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .header-section__header-top{
            max-width: 1200px;
            margin: 0 auto;
            padding: 0px 20px;
        }
        .block__block-main-content{
            .block-main-content__about-us{
                .c-1{
                    @include size(50%, 300px);
                    @include margin(0px, 0px, 0px, $margin-y);
                }
            }
            .block-main-content__send-box{
                height: 500px;
                .newsletter{
                    height: 400px;
                    .coll--left{
                        .txt-white,
                        .row-fluid{
                            @include margin($margin-y, $margin-y, 0, 0);
                        }
                        
                    }
                }
            }
            .block-main-content__service{
                .service-list{
                    .service-item{
                        .button{
                            @include color($primary);
                            background: linear-gradient( to left, rgb(244, 243, 243) 50%, white 50%);
                            background-size: 200% 100%;
                            background-position: right bottom;
                            transition: all .8s ease-out;;
                        }
                        &:hover{
                            .m-row{
                                background-color: $primary;
                                .s-row{
                                    &:nth-child(3n+1){
                                        background-image: url("../imgs/icon-shape-white.png");
                                        i{
                                            @include color($primary)
                                        }
                                    }
                                    &:nth-child(3n+3){
                                        .button{
                                            background-position: left bottom;
                                            &::before{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
