/* Option 2: Import via CSS */
@use "sass:math";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import "../scss/reset";
@import "../scss/base";
@import "../scss/animation";
@import "../scss/mixins";
.container{
    position: relative;
    background-color: white;
    .block__header-section{
        position: relative;
        .header-section__header-top{
            @include flex(center, space-between);
            @include fixed(0px, 0px, 0px, 0px, 999 );
            @include padding(20px,20px,20px,20px);
            border-bottom: 0.2px solid $light;
            .header-top__logo{
                @include size(20%, auto);
                @include margin(0px, 5px, 0px, 5px);
                @include flex(center, unset);
                i{
                    @include font(50px,500, $light);
                }
                .logo__name{
                    @include flex(center, flex-start);
                    div{
                        &:nth-child(2n+1){
                            @include font(50px,500, $light);
                            @include text-transform(uppercase);
                        }
                        &:nth-child(2n+2){
                            @include text-transform(capitalize);
                        }
                    }
                }
            }
            .header-top__navbar{
                .navbar-list{
                    @include flex(unset, center);
                    .navbar-list__item{
                        @include margin(0px, 0px , 0px, 2px);
                        @include size(calc(100%/6), 50px);
                        @include font-size(20px);
                        @include text-transform(capitalize);
                        position: relative;
                        a{
                            @include flex(unset, center);
                            @include size(100%, inherit);
                        }
                        &:nth-child(6n+6){
                            display: block !important;
                            position: relative;
                            div{
                                &:nth-child(2n+1){
                                    @include flex(center, -content);
                                    @include size(100%, inherit);
                                    @include padding(10px, 10px, 10px, 10px);
                                    i{
                                        @include color($light);
                                    }
                                }
                            }
                            .sub-menu{
                                @include size(100%, 120px);
                                @include align-item(center);
                                @include padding(10px, 10px, 10px, 10px);
                                @include absolute(50px, unset);
                                display: none;
                                background-color: white;
                                .sub-menu__item{
                                    @include size(100%, calc(100%/3));
                                    @include font(1em, 300, $primary);
                                    display: block;
                                    &:nth-child(3n+2){
                                        margin: 5px 0px;
                                    }
                                    &:hover{
                                        @include color($secondary);
                                    }
                                }
                            }
                            &:hover{
                                .sub-menu{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }   
        }
        .header-section__header-bg{
            @include size(100%, 100%);
            .header-bg__bg{
                @include size(inherit, 100%);
                background:
                        url(../imgs/bg-dot.png),
                        url(../imgs/bg-dot.png),
                        url(../imgs/bg-round.png),
                        url(../imgs/bg-tree.png),
                        url(../imgs/bg-bottom-hero.png);
                background-position: 10px 10px,
                                    bottom 190px right 10px,
                                    left 55% top -1px,
                                    left 45% bottom -1px,
                                    center bottom -1px;
                ;
                background-repeat: no-repeat;
            }
        }
        .block-header__header-content{
            @include padding(0px, 0px, $paddingX*2, $paddingX*2);
            @include color(white);
            position: absolute;
            top: 100px;
            .coll-half{
                &:nth-child(2n+1){
                    @include padding(0px, 0px, $paddingX, $paddingX);
                }
                .content-heading{
                    @include font-size(50px);
                }
                .content-desc{
                    @include margin(10px, 10px, 0px, 0px);
                }
                .buttons-group{
                    .button{
                        @include size(120px, 40px);
                        @include color(white);
                        &:nth-child(2n+1){
                            @include color($dark);
                            background-color: white;
                        }
                        &:nth-child(2n+2){
                            @include margin(0px, 0px, 40px, 40px);
                        }
                    }
                }
            }
        }
    }
    .block__block-main-content{
        // about us
        .block-main-content__about-us{
            @include padding(0px, 0px, $paddingX*2, $paddingX*2);
            @include margin($marginY,0,0,0);
            .c-1{
                position: relative;
                .content-heading{
                    @include font(20px, 500, $primary);
                    @include size(100%, 50px);
                    position: relative;
                    span{
                        position: absolute;
                        left: 30px;
                    }
                    &:before{
                        @include size(15px, 15px);
                        @include pseudo(4px, 0px, $primary);
                        opacity: 0.5;
                    }
                    &::after{
                        @include size(15px, 15px);
                        @include pseudo(0px,5px, $secondary);
                        opacity: 0.3;
                    }
                    
                }
                .cxA1{
                    @include size(100%, 80%);
                    position: absolute;
                    top: 30px;
                    .about-us__reason{
                        @include margin(20px, 20px, 0px, 0px);
                    }
                    .rsCus{
                        @include font-size(20px);
                        .icon{
                            margin-right: 10px;
                        }
                    }
                    .buttons-group{
                        @include flex(center, -content);
                        @include margin(16px, 0px, 0px, 0px);
                        .button--social{
                            @include margin(0, 0, 20px, 0);
                            @include size(40px, 40px);
                            @include border(1px, solid, $primary, white, 50%);
                            @include flex(center, center);
                            &:hover{
                                background-color: $primary;
                                i{
                                    @include color($light);
                                }
                            }
                        }
                    }
                }
            }
        }
        // send box
        .block-main-content__send-box{
            @include margin($marginY, 0px, 0px, 0px);
            .newsletter{
                @include padding(0px, 0px, $paddingX*2, $paddingX*2);
                position: relative;
                .coll--left{
                    .txt-white{
                        &:nth-child(2n+1){
                            @include font-size(30px);
                        }
                    }
                    // input email
                    .send-box{
                        @include padding(0px, 0px, 0px, 0px);
                        @include border(1px, solid, $light, $light, 30px);
                        input{
                            @include size(100%, inherit);
                            @include padding(10px, 10px, 10px, 10px);
                            @include border(1px, solid, $light, $light, 30px);
                            @include font(15px, normal, #888);
                            background: inherit;
                            border: 0px;
                        }
                        .button{
                            @include border(0, none, none, unset, 50%);
                            @include size(fit-content, fit-content);
                        }
                    }
                }
                .coll--right{ 
                    margin-left: math.div($marginY,2);
                    img{
                        @include size(100%, 100%);
                        object-fit: contain
                    }
                }
            }
            
        }
        // service 
        .block-main-content__service{
            .service-list{
                .service-item{
                    .m-row{
                        .s-row{
                            @include size(100%, calc(100%/3));
                            text-align: center;
                            &:nth-child(3n+1){
                                @include size(100%, calc(100%/3));
                                @include flex(center, center);
                                background: url("../imgs/icon-shape-primary.png") 100% no-repeat;
                                background-position: 50% 0;
                                i{
                                    @include font(50px, 300, $light);
                                }
                            }
                            &:nth-child(3n+2){
                                @include margin(40px, 20px, 0px, 0px);
                                span{
                                    @include margin(20px,0px, 0px, 0px);
                                }
                            }
                            &:nth-child(3n+3){
                                position: relative;
                                .button{
                                    @include size(auto, fit-content);
                                    &::before{
                                        @include size(30px, 30px);
                                        @include pseudo(0,30%, gray);
                                        @include border(0px, none, none, gray, 50%);
                                        opacity: 0.5;
                                    }
                                }
                            }
                        }
                    }
                    :hover{
                        color: white;
                    }
                }
                .service-item.notActive{
                    display: none;
                }
            }
        }
        // project
        .block-main-content__project{
            @include size(100%, auto);
            position: relative;
            z-index: 10;
            .project-filter{
                @include flex(center, space-between);
                @include size(50%, auto);
                @include font(1.1rem, 500, #888);
                transform: translateX(50%);
                div{
                    cursor: pointer;
                }
                div.active{
                    @include color($light);
                    @include padding(15px, 15px, 15px, 15px);
                    background-color: $primary;
                    position: relative;
                    border-radius: 10px;
                    &::before{
                        @include size(70%,100%);
                        @include pseudo(0, 68%, $primary);
                        transform: skew(-20deg);
                        z-index: -10;
                    }
                }
            }
            .grid-list{
                .grid-item{
                    .m-row{
                        box-shadow: none;
                        padding: 0px;
                        .s-row{
                            @include size(100%, 100%);
                            position: relative;
                            img{
                                @include size(100%, 100%);
                                object-fit: contain;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
        }
        // TESTIMONIAL SLIDES
        .block-main-content__feedback{
            @include padding($paddingX*2, $paddingX*2, math.div($paddingX,2), math.div($paddingX,2));
            position: relative;
            // position: absolute;
            overflow: hidden;
            .feedback-banner{
                @include size(fit-content, auto);
                @include absolute(0px, 0px);
                flex-wrap: nowrap;
                scroll-behavior: smooth;
                // pointer-events: none;
                transition: 1s ease-in-out;
                &:hover{
                    animation-play-state: paused;
                }
                .grid-item{
                    @include size(393px, fit-content);
                    margin-top: 0px;
                    padding: 10px;
                    // pointer-events:none;
                    cursor: grab;

                    .m-row{
                        @include border(1px, solid, white, unset, 10px);
                        .quote{
                            @include font(1.5em, 600, white);
                            @include size(100%, fit-content);
                            margin-bottom: math.div($marginY,3);
                        }
                        .fbTxt{
                            @include font(1em, 300, white);
                            @include flex(center, center);
                            margin-bottom: math.div($marginY,3);
                        }
                        .s-row.block-flex{
                            @include size(100%, auto);
                                .avatar{
                                    @include size(70px, 70px);
                                    margin-right: 16px;
                                    img{
                                        @include size(inherit, inherit);
                                        object-fit: contain;
                                        border-radius: 50%;
                                    }
                                }
                                .client-info{
                                    &__name{
                                        @include font(1.5em, 400, white);
                                    }
                                    &__position{
                                        @include font(1em, 400, white);
                                    }
                                }
                        }
                    }
                }
                .grid-item.active{
                    .m-row{
                        background-color: $light;
                        .quote{
                            @include color($primary);
                        }
                        .fbTxt{
                            @include color(gray);
                        }
                        .client-info{
                            .client-info__name{
                                @include color($dark);
                            }
                            .client-info__position{
                                @include color(gray);
                            }
                        }
                    }
                }
                
            }
        }
        // team
        .block-main-content__our-team{
            // margin-top: 500px;
            .grid-list{
                .grid-item{
                    @include size(calc(100%/3), 570px);
                    position: relative;
                    cursor: pointer;
                    .m-row{
                        @include size(90%, 460px);
                        position: absolute;
                        top: 50px;
                        background-color: white;
                        z-index: 0;
                        .buttons-group{
                            @include size(fit-content, 90%);
                            .button--social{
                                @include size( 40px, 40px);
                                @include flex(center, center);
                                border-radius: 50%;
                                margin-bottom: 20px;
                            }
                        }
                        transition: all 1.4s ease;
                    }
                    img{
                        @include size(95%, auto);
                        position: absolute;
                        top: 0px;
                        left: 100px;
                        border-radius: 20px;
                    }
                    &:nth-child(3n+1){
                        z-index: 0;
                    }
                    &:nth-child(3n+2){
                        z-index: 70;
                    }
                    &:nth-child(3n+3){
                        z-index: 100;
                    }
                    &:hover{
                        .m-row{
                            background-color: $primary;
                            .buttons-group{
                                .button--social{
                                    background-color: $light;
                                }
                            }
                            .member-info{
                                color: $light;
                            }
                        }
                    }
                }
            }
        }
    }
    .block__block-footer{
        @include font(1em, 500, white);
        @include padding($paddingX*2, 0px, math.div($paddingX,2), math.div($paddingX,2));
        @include margin($marginY,0,0,0);
        .row-fluid{
            @include padding($paddingX*2, $paddingX*2, $paddingX*2, $paddingX*2);
            &:nth-child(2n+1){
                .coll-item{
                    @include margin(0, 1.5em, 0, 0);
                    @include padding(0, 0, math.div($paddingX,2), math.div($paddingX,2));
                    .s-row{
                        @include flex(center, flex-start);
                        @include margin(0, 1em, 0, 0);
                        &--heading{
                            @include font-size(25px);
                        }
                        .buttons-group{
                            .button--social{
                                @include border(0.2px, solid, $light, unset, 50%);
                                @include size(40px, 40px);
                                @include flex(center, center);
                                @include margin(0, 0, 0, 5px);
                            }
                        }
                        .coll-10{
                            margin-right: math.div($marginY,3);
                        }
                        i{
                            @include color($light);
                        }
                    }
                    &:nth-child(4n+3){
                        .m-row{
                            @include flex(center, flex-start);
                            flex-wrap: wrap;
                            .s-row{
                                @include size(calc(100%/3 - 12px), 100%);
                                @include margin(math.div($paddingX,3), 0, 0, math.div($paddingX,2));
                                position: relative;
                                img{
                                    @include size(100%, 100%);
                                }
                            }
                        }
                    }
                    &:nth-child(4n+4){
                        .s-row{
                            &:nth-child(3n+3){
                                @include size(100%, auto);
                                @include border(1px, solid, unset, $light, 20px);
                                position: relative;
                                background-color: $light;
                                input,
                                button{
                                    border: 0px;
                                    background-color: unset;
                                }
                                input{
                                    @include size(100%, 48px);
                                    @include padding(6px, 6px, 24px, 0px);
                                    @include color(gray);
                                }
                                button{
                                    @include margin(0, 0, 0, 24px);
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(2n+2){
                border-top: 0.1px solid $light;
                justify-content: space-between;
                .coll-half{
                    &:nth-child(2n+2){
                        a{
                            @include size(25%, 100%);
                            position: relative;
                            display: block;
                            color: $light;
                            text-align: center;

                            &:not(:nth-child(4n+4)){
                                border-right: 0.5px solid $light;
                            }
                        }
                    }
                }
            }
        }
    }
    .button__go-top{
        @include size(50px, 50px);
        @include flex(center, center);
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        transition: all 1.5s ease-in-out;
        a{
            @include border(0.5px, solid, white, $primary, 50%);
            @include size(100%, 100%);
            @include flex(center, center);
            i{
                @include font(30px, 500, $light);
            }
        }
    }
    &--related-page{
        .block__header-section{
            .block-header__header-content{
                @include padding($paddingX*2, $paddingX*2, 0, 0);
                text-align: center;
                .padding-lr{
                    @include margin($marginY,0,0,0);
                    @include padding(0, 0, $paddingX, $paddingX);
                    h1{
                        @include font(2.5em, 700, $light);
                        @include margin(8px, 0,0,0);
                    }
                    hr{
                        @include size(10%,1px);
                        @include margin(0,16px,555px, 555px);
                        transform: translateX(-34%);

                        display: block
                    }
                    .breadcrum{
                        @include size(100%, auto);
                        @include flex(center, center);
                        &__item{
                            a{
                                @include font(1.2em, 300, $light);
                                @include padding(0, 0, math.div($paddingX,3), math.div($paddingX,3));
                            }
                            &:nth-child(2n+2){
                                display: flex;
                                position: relative;
                                &::before{
                                    @include font(1.2em, 300, #8888);
                                    @include absolute(0px,0px);
                                    content: "/";
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &--contact{
        .block__block-main-content{
           .block-main-content__contact{
               form{
                   @include margin(math.div($marginY,3),0,0,0);
                        .form-block{
                            padding: 0 15%;
                            .row-fluid{
                                @include flex(center, center);
                                @include margin(math.div($marginY,3), 0, 0, 0);
                                @include padding(0, 0, 8px,8px);
                                input,
                                textarea{
                                    @include size(100%, auto);
                                    @include padding(16px,16px,12px,12px);
                                    @include border(1px, solid, #888, unset, 10px);
                                }
                                button{
                                    @include size(100%, 50px);
                                    @include font(20px, 500, $light);
                                    @include border(1px, solid, $primary, $primary, 10px);
                                }
                                &:nth-child(4n+1){
                                    @include flex(center, center);
                                    padding: 0px;
                                    .coll-half{
                                        @include flex(center, center);
                                        @include padding(0, 0, 8px,8px);
                                    }
                                }
                            }
                    }
               }
           }
        }
    }
}

@media only screen and (min-width:1280px){
    .container{
        max-width: 1200px;;
        margin: 0 auto;
        .block__header-section{
            @include size(inherit, 550px);
            .header-section__header-top{
                @include size(inherit, fit-content);
                padding: 0px 20px;
                .header-top__navbar-menu-icon{
                    display: none;
                }
                .header-top__navbar{
                    @include size(80%, auto);
                    .navbar-list{
                        @include size(100%, auto);
                    }
                }
            }
        }
        .block__block-main-content{
            // about us
            .block-main-content__about-us{
                .c-1{
                    @include size(50%, 300px);
                    @include margin(0px, 0px, 0px, $marginY);
                }
                .c-2{
                    width: 50%;position: relative;
                    img{
                        object-fit: 100%;
                    }
                }
            }
            // send box
            .block-main-content__send-box{
                margin-top: $marginY;
                height: 500px;
                .newsletter{
                    height: 400px;
                    .coll--left{
                        .txt-white,
                        .row-fluid{
                            @include margin($marginY, $marginY, 0, 0);
                        }
                        
                    }
                }
            }
            // service
            .block-main-content__service{
                .service-list{
                    .service-item{
                        .button{
                            @include color($primary);
                            background: linear-gradient( to left, rgb(244, 243, 243) 50%, white 50%);
                            background-size: 200% 100%;
                            background-position: right bottom;
                            transition: all .8s ease-out;;
                        }
                        &:hover{
                            .m-row{
                                background-color: $primary;
                                .s-row{
                                    &:nth-child(3n+1){
                                        background-image: url("../imgs/icon-shape-white.png");
                                        i{
                                            @include color($primary)
                                        }
                                    }
                                    &:nth-child(3n+3){
                                        .button{
                                            background-position: left bottom;
                                            &::before{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // feedback
            // .block-main-content__feedback{
            //     .feedback-banner{
            //         @include padding($paddingX*2, $paddingX*2, $paddingX*2, $paddingX*2);
            //         .grid-item{
            //             &.is-draging{
            //                 cursor: grabbing
            //             }
            //         }
            //     }
            // }
        }
    }
}
@media only screen and (max-width:994px){
    .container{
        max-width: 100%;
        overflow: hidden;
        .block__header-section{
            @include size(inherit, 800px);
            .header-section__header-top{
                @include flex(center, space-between);
                @include size(100%, fit-content);
                flex-wrap: wrap;
                .header-top__logo{
                    @include size(50%, inherit);
                }
                .header-top__navbar-menu-icon{
                    @include flex(center, center);
                    @include size(40%, 70px);
                    div{
                        @include size(100px, 60px);
                        @include flex(center, center);
                        @include border(1px, solid, #888, $light, 20px);
                        cursor: pointer;
                        i{
                            @include font(50px, 500, $primary);
                        }
                    }
                }
                .header-top__navbar{
                    display: none;
                    .navbar-list{
                        @include flex(center, center);
                        flex-wrap: wrap;
                        .navbar-list__item{
                            width: 50%;
                            a{
                                @include font(20px, 300, $primary);
                            }
                        }
                        .sbItem{
                            .absbIt{
                                div,
                                i{
                                    color: $primary !important;
                                }
                            }
                        }
                    }
                }
            }
            .header-section__header-bg.bg-primary{
                width: 100%;
                height: inherit;
            }
            .block-header__header-content{
                flex-wrap: wrap;
                flex-direction: row;
                .coll-half{
                    @include size(100%, 50%);
                    .buttons-group{
                        @include flex(center, center);
                    }
                    &:nth-child(2n+2){
                        @include margin($marginY, 0, 0, 0);
                        @include flex(center, center);
                    }
                }
            }
        }
        .block__block-main-content{
            position: relative;
            .content-sample{
                div{
                    &:before{
                        @include pseudo(4px, 38%, $primary);
                    }
                    &::after{
                        @include pseudo(0px, 38.6%, $secondary);
                    }
                }
                h1{
                    @include font-size(50px);
                }
            }
            // about us
            .block-main-content__about-us.block-flex{
                flex-wrap: wrap;
                height: 550px;
                .c-1,
                .c-2{
                    @include size(100%, 50%);
                }
                .c-2{
                    @include flex(center, center);
                    img{
                        @include size(100%, 100%);
                        object-fit: contain;
                        @include flex(center, center);
                    }
                }
            }
            // send box
            .block-main-content__send-box{
                @include size(100%, fit-content);
                .newsletter{
                    @include size(100%, fit-content);
                }
            }
            // service
            .block-main-content__service{
                .service-list{
                    .service-item{
                        width: calc(100%/2);
                    }
                }
            }
            // feedback
            .block-main-content__feedback{
                padding: 0px;
                .feedback-banner{
                    @include flex(center, center);
                    @include size(auto, auto);
                    .grid-item{
                        @include size(100%, 400px);
                    }
                }
            }
            // project, team
            .block-main-content__project,
            .block-main-content__our-team{
                .grid-list{
                    .grid-item{
                        width: calc(100%/2);
                    }
                }
            }
        }
        &--related-page{
            .block__header-section{
                @include size(inherit, 600px);
            }
        }
    }
}

@media only screen and (max-width:480px){
    .container{
        .block__header-section{
            @include size(inherit, 1000px);
            .block-header__header-content{
                padding:0px;
                .coll-half{
                    .content-heading{
                        @include font(45px, 500, white);
                    }
                }
            }
        }
        .block__block-main-content{
            .content-sample{
                .rsCus{
                    @include font(30px, 500, $dark);
                    @include flex(center, center);
                }
                div{
                    @include font(20px, 300, $primary);
                    position: relative;
                    &:before{
                        @include size(15px, 15px);
                        @include pseudo(4px, 22%, $primary);
                        position: absolute;
                        opacity: 0.5;
                    }
                    &::after{
                        @include size(15px, 15px);
                        @include pseudo(0px, 23.5%, $secondary);
                        opacity: 0.3;
                    }
                }
            }
            .block-main-content__send-box{
                .coll--left{
                    width: 100%;
                    div{
                        margin: $paddingX 0px;
                    }
                }
                .coll--right{
                    display: none;
                }
            }
            .block-main-content__service,
            .block-main-content__project,
            .block-main-content__feedback,
            .block-main-content__our-team{
                padding: 0px 10px;
                .grid-list{
                    .grid-item{
                        width: 100%;
                    }
                }
            }
            .block-main-content__feedback{
                .feedback-banner{
                    .grid-item{
                        width: 100%;
                        &:nth-child(3n+2){
                            margin:  math.div($marginY,2) 0px;
                        }
                    }
                }
            }
            .block-main-content__project{
                .project-filter{
                    width: 100%;
                    transform: translateX(0);
                }
            }
        }
        .block__block-footer{
            .row-fluid{
                padding: 0px;
                &:nth-child(2n+1){
                    flex-wrap: wrap;
                    .coll-item{
                        @include size(100%, 100%);
                    }
                }
                &:nth-child(2n+2){
                    flex-wrap: wrap;
                    .coll-half{
                        width: 100%;
                    }
                }
            }
        }
        &--related-page{
            .block__header-section{
                @include size(inherit, 400px);
            }
        }
        &--contact{
            .block__block-main-content{
                .block-main-content__contact{
                    padding: 0px;
                    form{
                        .form-block{
                            padding: 0px;
                         }
                    }
                }
             }
        }
    }
}