/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* a {
  text-decoration: none;
}

* li {
  list-style-type: none;
}

* i {
  font-size: 15px;
  font-weight: normal;
  color: #2124B1;
}

body {
  background-color: #F7FAFF;
}

.tab-active {
  color: #4777F5;
  border-bottom: 1px solid #4777F5;
}

.bg-primary {
  background-color: #2124B1;
}

.bg-white {
  background-color: white;
}

.row-fluid {
  width: 100%;
}

.coll-half {
  width: 50%;
  height: auto;
}

.block-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
}

.txt-white {
  font-size: auto;
  font-weight: auto;
  color: white;
}

.button {
  cursor: pointer;
  border: 0px;
  background-color: unset;
}

.container {
  position: relative;
  background-color: white;
}

.container .block__header-section .header-section__header-top {
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.2px solid #F7FAFF;
}

.container .block__header-section .header-section__header-top .header-top__logo {
  width: 20%;
  height: auto;
  margin: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
}

.container .block__header-section .header-section__header-top .header-top__logo .logo__search-icon i {
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.container .block__header-section .header-section__header-top .header-top__logo .logo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
}

.container .block__header-section .header-section__header-top .header-top__logo .logo__name div:nth-child(2n+1) {
  font-size: 50px;
  font-weight: 500;
  color: #1c1c26;
  text-transform: uppercase;
}

.container .block__header-section .header-section__header-top .header-top__logo .logo__name div:nth-child(2n+2) {
  text-transform: capitalize;
}

.container .block__header-section .header-section__header-top .header-top__navbar {
  width: 80%;
  height: auto;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 2px 4px 0px;
  width: calc(100%/6);
  height: auto;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item:nth-child(6n+6) {
  display: block !important;
  position: relative;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item:nth-child(6n+6) div:nth-child(2n+1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  width: 100%;
  height: inherit;
  padding: 10px 10px 10px 10px;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item:nth-child(6n+6) div:nth-child(2n+1) i {
  color: white;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item:nth-child(6n+6) .sub-menu {
  width: 100%;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 10px;
  position: absolute;
  display: none;
  background-color: white;
  top: 50px;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item:nth-child(6n+6) .sub-menu .sub-menu__item {
  width: 100%;
  height: calc(100%/3);
  display: block;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item:nth-child(6n+6) .sub-menu .sub-menu__item:nth-child(3n+2) {
  margin: 5px 0px;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item:nth-child(6n+6) .sub-menu .sub-menu__item:hover {
  color: #4777F5;
}

.container .block__header-section .header-section__header-top .header-top__navbar .navbar-list .navbar-list__item:nth-child(6n+6):hover .sub-menu {
  display: block;
}

.container .block__header-section .header-section__header-bg {
  width: 100%;
  height: 700px;
}

.container .block__header-section .header-section__header-bg .header-bg__bg {
  width: 100%;
  height: 100%;
  background: url(../imgs/bg-dot.png), url(../imgs/bg-dot.png), url(../imgs/bg-round.png), url(../imgs/bg-tree.png), url(../imgs/bg-bottom-hero.png);
  background-position: 10px 10px, bottom 190px right 10px, left 55% top -1px, left 45% bottom -1px, center bottom -1px;
  background-repeat: no-repeat;
}

.container .block__header-section .block-header__header-content {
  color: white;
  position: absolute;
  top: 100px;
}

.container .block__header-section .block-header__header-content .coll-half:nth-child(2n+1) {
  padding: 0px 24px 0px 24px;
}

.container .block__header-section .block-header__header-content .coll-half .content-heading {
  font-size: 50px;
}

.container .block__header-section .block-header__header-content .coll-half .content-desc {
  margin: 10px 0px 10px 0px;
}

.container .block__header-section .block-header__header-content .coll-half .buttons-group .button {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  background-color: unset;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.container .block__header-section .block-header__header-content .coll-half .buttons-group .button:nth-child(2n+1) {
  color: #1c1c26;
  background-color: white;
}

.container .block__header-section .block-header__header-content .coll-half .buttons-group .button:nth-child(2n+2) {
  margin: 0px 40px 0px 40px;
}

.container .block__block-main-content .block-main-content__about-us {
  padding: 0px 24px 0px 24px;
}

.container .block__block-main-content .block-main-content__about-us .coll--left {
  position: relative;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .content-heading {
  font-size: 20px;
  font-weight: 500;
  color: #2124B1;
  width: 100%;
  height: 50px;
  position: relative;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .content-heading span {
  position: absolute;
  left: 30px;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .content-heading:before {
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #2124B1;
  opacity: 0.8;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .content-heading::after {
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  position: absolute;
  top: -10%;
  bottom: 0px;
  left: 5px;
  right: 0px;
  background-color: #4777F5;
  opacity: 0.3;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 30px;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .about-us__reason {
  margin: 20px 0px 20px 0px;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .rsCus {
  font-size: 20px;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .rsCus .icon {
  margin-right: 10px;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  margin: 20px 0px 0px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__read-more {
  width: 100px;
  height: 40px;
  border: 1px solid white;
  background-color: #2124B1;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__instagram,
.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__facebook,
.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__twister {
  width: 40px;
  height: 40px;
  border: 1px solid #2124B1;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__instagram:hover,
.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__facebook:hover,
.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__twister:hover {
  background-color: #2124B1;
}

.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__instagram:hover i,
.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__facebook:hover i,
.container .block__block-main-content .block-main-content__about-us .coll--left .cxA1 .buttons-group .button__twister:hover i {
  color: white;
}

.container .block__block-main-content .block-main-content__send-box {
  margin: 48px 0px 0px 0px;
}

.container .block__block-main-content .block-main-content__send-box .newsletter {
  padding: 0px 24px 0px 24px;
  position: relative;
}

.container .block__block-main-content .block-main-content__send-box .newsletter .coll--left .txt-white:nth-child(2n+1) {
  font-size: 30px;
}

.container .block__block-main-content .block-main-content__send-box .newsletter .coll--left .send-box {
  padding: 0px 0px 0px 0px;
  border: 1px solid #F7FAFF;
  background-color: #F7FAFF;
  border-radius: 30px;
  height: 50px;
}

.container .block__block-main-content .block-main-content__send-box .newsletter .coll--left .send-box input {
  width: 90%;
  height: inherit;
  padding: 10px 10px 10px 10px;
  border: 1px solid #F7FAFF;
  background-color: #F7FAFF;
  border-radius: 30px;
  font-size: 15px;
  font-weight: normal;
  color: #F7FAFF;
  background: inherit;
  border: 0px;
}

.container .block__block-main-content .block-main-content__send-box .newsletter .coll--right {
  position: absolute;
  top: 50%;
  right: 0px;
}

.container .block__block-main-content .block-main-content__send-box .newsletter .send-box__bg {
  width: 100%;
  height: inherit;
  background: url("../imgs/bg-top.png"), url("../imgs/bg-bottom.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}

.container .block__block-main-content .block-main-content__service {
  margin: 48px 0px 0px 0px;
}

.container .block__block-main-content .block-main-content__service .content-sample {
  width: 100%;
  height: 100px;
}

.container .block__block-main-content .block-main-content__service .content-sample div,
.container .block__block-main-content .block-main-content__service .content-sample h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .block__block-main-content .block-main-content__service .content-sample div {
  font-size: 20px;
  font-weight: 300;
  color: #2124B1;
  position: relative;
}

.container .block__block-main-content .block-main-content__service .content-sample div:before {
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 43%;
  right: 0px;
  background-color: #2124B1;
  opacity: 0.8;
}

.container .block__block-main-content .block-main-content__service .content-sample div::after {
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 40%;
  background-color: #4777F5;
  opacity: 0.3;
}

.container .block__block-main-content .block-main-content__service .content-sample h1 {
  font-size: 50px;
}

.container .block__block-main-content .block-main-content__service .service-list {
  width: 30%;
  height: 330px;
}

.container .block__block-main-content .block-main-content__service .service-list .service-icon {
  width: 30px;
  height: 50px;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .container .header-section__header-top {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
  }
  .container .block-main-content__about-us .c-1 {
    width: 50%;
    height: 300px;
    margin: 0px 48px 0px 0px;
  }
  .container .block-main-content__send-box {
    height: 500px;
  }
  .container .block-main-content__send-box .newsletter {
    height: 400px;
  }
  .container .block-main-content__send-box .newsletter .coll--left .txt-white,
  .container .block-main-content__send-box .newsletter .coll--left .row-fluid {
    margin: 48px 0 48px 0;
  }
  .container .block-main-content__service {
    height: 700px;
  }
}
/*# sourceMappingURL=style.css.map */